.navbar-logo{
    align-content: center;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.items-display{
    display: flex;
    padding: 0px 30px;
    flex-wrap: wrap;
}

.item-card{
    margin: 10px 10px;
    width:200px; 
    height:300px; 
    border:thin solid black;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 10px 10px;
    width: 200px;
    height: 300px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.card-body{
    display: flex;
    flex-direction: column;
}
.card-text{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}
.card-title{
    align-self: center;
}
.card-img-top{
    height: 200px; 
}
.spaced-eye-icon{
    margin-left: 5px;
}
.spaced-login-icon{
    margin-right: 5px;
}
.carousel-img{
    aspect-ratio: 1;
}
.display-flex {
    display: flex; /* Enables flexbox layout */
}
.flex-direction-row {
    flex-direction: row;
}
.flex-direction-column {
    flex-direction: column;
}

@media (max-width: 991.98px) {
    .items-display {
      justify-content: center;
    }
    .my-carousel {
        max-width: 70%;
    }
}